# 01_Ins_Variables/Solved
# 02_Stu_Percent_Increase/Solved
# 03_Ins_Lists/Solved
# 04_Stu_Manipulating_Lists/Solved
# 05_Ins_Dictionaries/Solved
# 06_Stu_Working_with_Dictionaries/Solved

# 01_Ins_Variables/Unsolved
# 02_Stu_Percent_Increase/Unsolved
# 03_Ins_Lists/Unsolved
# 04_Stu_Manipulating_Lists/Unsolved
# 05_Ins_Dictionaries/Unsolved
# 06_Stu_Working_with_Dictionaries/Unsolved
